body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #FF7F50;
;
}

li {
  width: fit-content;
  padding: 0.25em;
  margin: 0.175em;
  margin: auto;
}

div.center-contents {
  text-align: center;
}

form {
  background-color: #B0E0E6;
  width: fit-content;
  padding: 0.5em;
  text-align: center;
  margin: auto;
}

div.form-element {
  padding: 0.25em;
  margin: 1em;
}

#delete-all {
  margin: 0.25em;

}